body {
  background-color: #101010;
  background-color: #000;
  font-family: var(--notion-font);
  font-weight: 500;
  padding: 1em 1em;
  color: var(--grey900);
}

.body-container {
  border-radius: 1em;
}

.body-container p{
  margin: 0;
}

.subpage_body_wrapper {
  background-color: var(--light-grey);
}

.subpage_body_wrapper .body-container {
  background-color: var(--white);
  min-height: 100vh;
  min-height: calc(100svh - 2em);
}
