.content-page{
    display: flex;
    gap: 4em;
    padding: 10em 2em;
}

.side-nav{
    display: flex;
    flex-direction: column;
    padding: 2em;
    width: 200px;
    
}

.content{
    width: 1100px;
    margin: 0 auto;
}