footer {
  background-color: black;
  margin-top: 1em;
  border-radius: 1em;
  padding: 1em;
}

.footer_wrapper {
  border-radius: 1em;
  padding: 0 10rem;
}

@media screen and (max-width: 1024px) {
  .footer_wrapper {
    padding: 0;
  }
}

.subpage_body_wrapper .footer_wrapper {
  padding: 0;
}

.subpage_body_wrapper footer {
  padding: 0;
}

.footer-content {
  border-top: 1px solid var(--grey900);
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10em 0;
  padding: 1rem 0;
}

.subpage_body_wrapper .footer-content {
  padding: 1em 1em 10em 1em;
  border-top: none;
}

.footer-copyright p,
.footer-content p {
  display: inline;
  margin: 0;
  padding: 0;
}

.subpage_body_wrapper .footer-copyright {
  border-top: 1px solid var(--grey900);
  /* border: 20px solid red; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1em;
}

.footer-copyright {
  border-top: 1px solid var(--grey900);
  /* border: 20px solid red; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1em 0;
}

.footer-decoration {
  background-color: rgb(0, 0, 0);
  background-image: radial-gradient(#666666 0.5px, transparent 0.5px),
    radial-gradient(#666666 0.5px, rgb(0, 0, 0) 0.5px);
  background-size: 10px 10px;
  background-position: 0 0, 10px 10px;
  height: 20em;

  border-radius: 0 0 1em 1em;
}
