nav {
  padding: 0 1em;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_links_wrapper {
  background-color: #ffffff12;
  backdrop-filter: blur(8px);
  border: 1px solid #c9c9c911;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 0.25em;
  padding: 0.25em 0.25em;
  border-radius: 25em;
  position: fixed;
  top: 2em;
  transform: translateX(-50%);
  left: 50%;
  box-shadow: var(--shadow-elevation-medium);
  z-index: 200;
  width: max-content;
}

.nav_links {
  background-color: #090909d0;
  backdrop-filter: blur(8px);
  border: 1px solid #52525252;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 0.25em;
  padding: 0.5em 0.5em;
  border-radius: 25em;
  box-shadow: var(--shadow-elevation-black);
  font-size: 0.9em;
}

.nav_links a {
  color: #f0f0f0;
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 2em;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
}

.nav_links a:hover {
  background-color: #ffffff15;
  color: #ffffff;
}

.nav_links .selected {
  background-color: var(--orange-500);
  color: #ffffff;
}

.nav_links .selected:hover {
  background-color: var(--orange-500);
  color: #ffffff;
}

.nav_button {
  display: none;
}

@media screen and (max-width: 1024px) {
  nav {
    padding: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav_button {
    position: fixed;
    top: 1em;
    right: 1em;
  }
  .nav_links_wrapper {
    background-color: #ffffff12;
    backdrop-filter: blur(8px);
    display: block;
    border: 0;
    border-radius: 0;
    position: fixed;
    padding: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: none;
    box-shadow: var(--shadow-elevation-medium);
    z-index: 1;
    width: 100%;
    height: 100vh;
    height: 100svh;
    overflow: hidden;
    display: none;
  }

  .nav_links {
    background-color: #000000;
    backdrop-filter: blur(8px);
    border: 0;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1em;
    inset: 0.5em;
    box-shadow: var(--shadow-elevation-black);
    font-size: 2em;
    width: 100%;
    min-height: inherit;
    padding-top: 5em;
    height: 100vh;
    height: 100svh;
    display: none;
  }

  .is-opened {
    display: flex;
    overflow: hidden;
  }

  .nav_links a {
    color: #f0f0f0;
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 2em;
    font-size: 0.7em;
    font-weight: 400;
    text-align: left;
  }

  .nav_links .selected {
    background-color: transparent;
    color: var(--orange-500);
  }

  .nav_button {
    display: block;
    position: fixed;
    top: 2em;
    right: 2em;
    z-index: 3;
    background-color: #090909d0;
    backdrop-filter: blur(8px);
    border: 1px solid #c9c9c911;
    border-radius: 50%;
    height: 3em;
    width: 3em;
  }

  .nav_button img {
    margin: 0 auto;
    width: 1.5em;
  }
}
