.subpage {
  padding: 2rem;
  min-height: 100vh;
  background-color: var(--white);
  border-radius: 1rem;
}

@media screen and (max-width: 1024px) {
  .subpage {
    padding: 1rem;
    min-height: 100vh;
    background-color: var(--white);
    border-radius: 1rem;
  }
}

.subpage article img {
  border-radius: 0.5em;
  margin: 1em 0 6em 0;
  width: 100%;
  height: auto;
}

.subpage article h1 {
  border-bottom: 1px solid var(--grey300);
  padding: 0 0 4rem 0;
  color: var(--grey900);
  font-size: var(--step-5);
}

.subpage article h2,
h3,
h4,
p,
ul,
ol {
  max-width: 40rem;
  display: block;
  margin: 1em auto 1em auto;
}

li {
  padding: 0.5rem 0;
}

.subpage .subpage_content article p,
ul,
ol {
  margin: 1em auto 3em auto;
}

.subpage .subpage_content {
  width: 100%;
  margin: 6em auto;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  gap: 5%;
  align-items: flex-start;
  justify-content: space-between;
  background-color: white;
  background-image: radial-gradient(#9f9f9f 0.5px, transparent 0.5px),
    radial-gradient(#9f9f9f 0.5px, white 0.5px);
  background-size: 2px 2px;
  background-position: 0 0, 10px 10px;
  border-radius: 0.5rem;
  padding: 2em;
}

@media screen and (max-width: 1024px) {
  .subpage .subpage_content {
    grid-template-columns: 1fr;
    padding: 0.5rem;
  }
}

@media screen and (max-width: 1600px) {
  .subpage .subpage_content {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}

.subpage article {
  flex-grow: 4;
  background-color: white;
  border-radius: 0.5rem;
  padding: 2em 8rem;
}

@media screen and (max-width: 1024px) {
  .subpage article {
    flex-grow: 4;
    background-color: white;
    border-radius: 0.5rem;
    padding: 2rem;
  }
}

.side-nav {
  display: flex;
  flex-direction: column;
  align-self: start;
  justify-content: flex-start;
  gap: 0.2rem;
  padding: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 2.7em;
  overflow-y: visible;
  flex-grow: 1;
  background-color: white;
  padding: 2em 2rem;
  border-radius: 0.5rem;
  max-height: 100vh;
}

@media screen and (max-width: 1600px) {
  .side-nav {
    overflow-y: scroll;
    max-height: calc(100vh - 15rem);
    display: none;
  }
}

.side-nav p {
  font-size: var(--step--3);
  color: var(--grey400);
  text-align: left;
  display: block;
  width: 100%;
  padding: 0.5rem 0.5rem 0 0.5rem;
  border-top: 1px solid var(--grey300);
  margin-top: 2rem;
}

.side-nav .selected {
  background-color: var(--light-grey);
  font-weight: 700;
  color: var(--grey900);
}

.side-nav a {
  color: var(--grey700);
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 0.25em;
  border: 1px solid white;
}

.side-nav a:hover {
  border: 1px solid var(--grey300);
  border-radius: 0.25em;
}
