section {
  color: var(--grey700);
  display: flex;
  flex-direction: column;
}

/* Motto */

.motto_wrapper {
  padding: 10em 1em 0;
}

.motto_wrapper .motto_content {
  grid-column-start: 2;
  grid-column-end: 4;
}

.motto_wrapper .motto_content h2 {
  color: var(--grey700);
}

.motto_wrapper .motto_content h2:nth-of-type(2) {
  margin-top: 2em;
}

/* Philosophy */
.philosophy_wrapper {
  padding: 10em 1em;
}

@media screen and (min-width: 1024px) {
  .philosophy_wrapper .grid_wrapper,
  .motto_wrapper .grid_wrapper {
    max-width: 1600px;
  
  }
}

.philosophy_wrapper .philosophy_content {
  grid-column-start: 2;
  grid-column-end: 4;
  text-align: left;
  margin: 0 0 5em 0;
}

.philosophy_wrapper .areas {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0 10rem;
}

@media screen and (max-width: 1024px) {
  .philosophy_wrapper .areas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0;
  }
}

.philosophy_wrapper .areas a {
  background-color: var(--grey950);
  width: 100%;
  border-radius: 0.5em;
  padding: 0.5em;
  aspect-ratio: 1/1;
  text-decoration: none;
  background-color: rgb(0, 0, 0);
  border: 1px solid var(--grey900);
}

.philosophy_wrapper .areas div {
  width: 100%;
  border-radius: 0.5em;
  aspect-ratio: 1/1.1;
  text-decoration: none;
 
  overflow: hidden;
  border: 1px solid black;
}

.philosophy_wrapper .areas a:hover {
  border: 1px solid var(--grey700);
  text-decoration: underline;
  color: var(--grey700);
}

.philosophy_wrapper .areas img {
  margin: 0 auto;
  width: 100%;
}

.philosophy_wrapper .areas h4 {
  color: white;
  margin: 0;
  background-color: black;
  padding: 1rem 1rem 2rem 1rem;
  top: 0;
  width: 100%;
  max-width: 100%;
}

.design-language_wrapper,
.design-system_wrapper {
  background-color: var(--white);
}

.design-language_wrapper {
  padding: 10em 1em;
}

.design-language_wrapper .grid_wrapper,
.tagger-labs_wrapper .grid_wrapper {
  padding: 0 10rem;
  
}

@media screen and (max-width: 1024px) {
  .design-language_wrapper .grid_wrapper,
  .tagger-labs_wrapper .grid_wrapper {
    padding: 0;
  }
}

.design-language_content {
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: left;

  margin: 0 0 5em 0;
}

.design-language_wrapper .areas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  align-items: end;
  width: 100%;
  padding: 0 10rem;
}

@media screen and (max-width: 1024px) {
  .design-language_wrapper .areas {
    padding: 0;
  }
}

.design-language_wrapper img {
  width: 100%;
  margin: 0 auto;
}

.design-language_wrapper .areas div {
  width: 100%;
  border-radius: 0.5em;
  text-align: left;
}

.design-language_wrapper .modular-brand-system {
  width: 100%;
  border: 1px solid var(--light-grey);
  grid-column-start: 1;
  grid-column-end: 2;
  aspect-ratio: 1.6/1;
  width: 100%;
  text-decoration: none;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: var(--light-grey);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}



.design-language_wrapper .modular-brand-system:hover,
.design-language_wrapper .illustrations:hover,
.design-language_wrapper .areas .branding:hover {
  border: 1px solid var(--grey700);
  text-decoration: underline;
  color: var(--grey400);
}

.design-language_wrapper .illustrations {
  border: 1px solid var(--light-grey);
  grid-column-start: 2;
  grid-column-end: 3;
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
  background-color: var(--light-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  aspect-ratio: 1/1.2;
}




.design-language_wrapper .branding {
  border: 1px solid var(--light-grey);
  border-radius: 0.5rem;
  grid-column-start: 1;
  grid-column-end: 3;
  height: auto;
  position: relative;
  aspect-ratio: 16/9;
  z-index: 0;
  width: 100%;
}

.design-language_wrapper .branding div {
  height: auto;
  aspect-ratio: 16/9;
  min-height: 100%;
}

.design-language_wrapper .branding h4 {
  position: relative;
  top: 0;
  z-index: 3;
}

.design-language_wrapper .branding .modular-background {
  width: 100%;
  background-color: var(--light-grey);
  position: absolute;
  top: 0;
}

@media screen and (max-width: 1024px) {
  .design-language_wrapper .areas {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    width: 100%;
  }

  .design-language_wrapper .branding {
    grid-column-start: 1;
    grid-column-end: 2;
    width: 100%;
    aspect-ratio: 1/1;
  }

  .design-language_wrapper .modular-brand-system {
    grid-column-start: 1;
    grid-column-end: 2;
    width: 100%;
    aspect-ratio: 1/1;
  }
  .design-language_wrapper .areas .illustrations {
    grid-column-start: 1;
    grid-column-end: 2;
    width: 100%;
  }
}

.design-language_wrapper .areas h4 {
  color: var(--grey900);
  margin: 0;
  padding: 1rem 1rem 2rem 1rem;
  top: 0;
  width: 100%;
  max-width: 100%;
}

.modular-scene {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
}

.design-system_wrapper {
  padding: 0rem 11rem 10rem 11rem;
}

@media screen and (max-width: 1024px) {
  .design-system_wrapper {
    padding: 1rem;
  }
}

.design-system_wrapper .grid_wrapper {
  padding: 1rem 10rem 10rem 10rem;
  max-width: 100%;
  border-radius: 0.5rem;
}

@media screen and (max-width: 1024px) {
  .design-system_wrapper .grid_wrapper {
    padding: 1rem;
  }
}

.design-system_content{
  grid-column-start: 3;
  grid-column-end: 5;
  text-align: left;
  margin: 0 0 5em 0;
}

@media screen and (max-width: 1024px) {
  .design-system_content {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}

.design-system-img {
  width: 100%;
  height: 100%;
  padding: 0 10rem;
}

@media screen and (max-width: 1024px) {
  .design-system-img {
    padding: 0 1rem;
  }
}

.design-system-img img {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.design-system_content .areas {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.design-system_content a {
  display: block;
  padding: 1rem;
  background-color: var(--light-grey);
  border-radius: 0.5rem;
  max-width: 40rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--light-grey);
}

.design-system_content a:hover {
  text-decoration: underline;
  border: 1px solid var(--grey700);
  color: var(--grey400);
}

.tagger-labs_wrapper {
  padding: 10em 1em;
}

.tagger-labs_wrapper h4 {
  color: #ffffff;
}

.tagger-labs_wrapper .tagger-labs_content{
  grid-column-start: 1;
  grid-column-end: 5;
  border: 1px solid var(--grey900);
  margin: 0 0 5em 0;
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .tagger-labs_wrapper .tagger-labs_content {
    grid-template-columns: 1fr;
  }
}

.tagger-labs_wrapper .tagger-labs_content .tagger-labs-logo{
  grid-column-start: 1;
  grid-column-end: 4;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) {
  .tagger-labs_wrapper .tagger-labs_content .tagger-labs-logo{
    grid-column-start: 1;
    grid-column-end: 4;
    display: block;
    position: relative;
    top: -2rem;
    left: -2rem;
  }
}

.tagger-labs_wrapper .tagger-labs_content .tagger-labs-paragraph{
  grid-column-start: 2;
  grid-column-end: 3;
  display: block;
  padding: 0 0 40vh 0;
}


.tagger-labs_wrapper .tagger-labs_content .tagger-labs-text{
  grid-column-start: 1;
  grid-column-end: 4;
  display: block;
  width: 100%;

}


.tagger-labs_wrapper .areas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  width: 100%;
  padding: 0 10rem;
  height: auto;
}

@media screen and (max-width: 1024px) {
  .tagger-labs_wrapper .areas {
    padding: 0;
    grid-template-columns: 1fr;
  }
}

.tagger-labs_wrapper .signals-trends,
.tagger-labs_wrapper .sharing,
.tagger-labs_wrapper .taggeru,
.tagger-labs_wrapper .playbooks,
.tagger-labs_wrapper .smart-discovery {
  border: 1px solid var(--grey900);
  border-radius: 0.5rem;
  height: auto;
  position: relative;
  aspect-ratio: 1/1;
  z-index: 0;
  width: 100%;
  padding: 1rem;
}

.tagger-labs_wrapper .signals-trends:hover,
.tagger-labs_wrapper .sharing:hover,
.tagger-labs_wrapper .taggeru:hover,
.tagger-labs_wrapper .playbooks:hover,
.tagger-labs_wrapper .smart-discovery:hover {
  border: 1px solid var(--grey700);
  text-decoration: underline;
  color: var(--grey700);
}



.tagger-labs_wrapper .signals-trends {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  aspect-ratio: 16/12;
  border-radius: 0.5rem;
}



.tagger-labs_wrapper .signals-trends video {
  border-radius: 0.25rem;

  
}


.tagger-labs_wrapper .sharing {
  grid-column-start: 1;
  grid-column-end: 2;
  aspect-ratio: 1.2/1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.tagger-labs_wrapper .signals-trends h4,
.tagger-labs_wrapper .sharing h4,
.tagger-labs_wrapper .taggeru  h4,
.tagger-labs_wrapper .smart-discovery  h4{
  display: block;
  min-width: 100%;
  margin: 0;
}

.tagger-labs_wrapper .taggeru {
  grid-column-start: 2;
  grid-column-end: 4;
  aspect-ratio: 1/1;
 
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: space-between;

}

.tagger-labs_wrapper .smart-discovery {
  grid-column-start: 1;
  grid-column-end: 4;
  aspect-ratio: 16/10;
  padding: 0 0 1rem 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.tagger-labs_wrapper .smart-discovery img {
  width: 100%;
  border-radius: 0.25rem;
}


@media screen and (max-width: 1024px) {
  .tagger-labs_wrapper .signals-trends,
  .tagger-labs_wrapper .sharing,
  .tagger-labs_wrapper .taggeru,
  .tagger-labs_wrapper .playbooks,
  .tagger-labs_wrapper .smart-discovery {
    aspect-ratio: 1/1;
    grid-column-start: 1;
    grid-column-end: 2;
 
  }
}

/* Grid wrapper */
.grid_wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .grid_wrapper {
    grid-template-columns: 1fr;
  }
}


