.notion-header .breadcrumb:not(.active):hover {
    background: var(--bg-color-0);
}

.notion-header .breadcrumb:not(.active):active {
    background: var(--bg-color-1);
}

.notion-header .breadcrumb.active {
    cursor: default;
}


.notion-header .breadcrumbs {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    flex-grow: 0;
    min-width: 0;
    display: none;
}

.notion-header .breadcrumb {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--fg-color);
    text-decoration: none;
    margin: 1px 0px;
    padding: 4px 1em;
    border-radius: 2em;
    transition: background 120ms ease-in 0s;
    user-select: none;
    background: transparent;
    cursor: pointer;
}

.notion-header .breadcrumb .notion-page-icon-inline {
    font-size: 18px;
    line-height: 1.1;
    margin: 0 6px 0 0;
}

.notion-header .breadcrumb .notion-page-icon-span {
    position: relative;
    top: 1px;
}