.notion-callout {
  padding: 1.8em 1.3em;
  display: inline-flex;
  width: 100%;
  border-radius: 0.5em;
  border-width: 1px;
  align-items: center;
  box-sizing: border-box;
  margin: 4px 0;
  font-family: 'Newsreader';
  font-size: 1.3em;
  line-height: 1.4em;
  color: var(--fg-color-4);
}

.dark-mode .notion-callout {
  border-color: var(--bg-color-2);
}

.notion-callout .notion-page-icon-inline {
  align-self: flex-start;
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 1.3em;
  display: none;
}

.notion-callout-text {
  margin-left: 8px;
  white-space: pre-wrap;
  word-break: break-word;
  width: 100%;
}
