@import url('../core/_typography.css');


.aside-menu {
    font-family: var(--notion-font);

    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    min-width: 300px;

    background: #fff;

    -webkit-box-shadow: 14px -2px 28px -14px rgba(66, 68, 90, 0.09);
    -moz-box-shadow: 14px -2px 28px -14px rgba(66, 68, 90, 0.09);
    box-shadow: 14px -2px 28px -14px rgba(66, 68, 90, 0.09);

    border-right: 12px;
    border-bottom-right-radius: 12px;

    padding: 32px 24px;

    z-index: 1000000;
}

.aside-menu > a > img {
    height: 32px;
    margin-bottom: 32px;
}

.aside-menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 16px 32px;
    margin-bottom: 4px;
    border-radius: 8px;
    text-decoration: none;
    color: #000;

    transition: 0.3s;
}

.aside-menu-item--title {
    margin-right: 16px;
    display: flex;
}

.aside-menu-item .svg-inline--fa {
    color: #2a2a2a;
}

.aside-menu-item.active {
    background: #F7F7F7;
    font-weight: 600;
}

.aside-menu-item.parent {
    padding-right: 16px;
}

.aside-menu-item.active:hover {
    background: #eeeeee;
}

.aside-menu-item:hover {
    background: #F7F7F7;
    cursor: pointer;
}

.aside-menu-item-icon {
    display: inline !important;
    margin-right: 8px;
}

.content-wrapper {
    margin-left: 350px;
}

.menu-search {
    padding: 8px 16px;
    border-radius: 12px;
    border: 1px solid #b6b6b6;

    margin-bottom: 32px;

    height: 45px;
}

.menu-search-input {
    margin-left: 8px;
    border: none;
    color: #707070;
    background: none;
}

.menu-search-input:focus {
    border: none;
    background: none;
    outline: none;
}

.menu-search .svg-inline--fa {
    color: #707070;
}

.menu-search-focused {
    outline: 1px solid #dcdcdc;
    border: 1px solid #dcdcdc;
}
