table {
  max-width: 40rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: blue;
}

table tbody tr {
  padding: 0.5rem 0;
  border-top: 1px solid #ccc;
  display: flex;
}

td,
th {
  flex-wrap: nowrap;
  text-align: left;
  padding: 0.25rem 0 2rem 0;
  display: block;
  width: 100%;
}
