.player-wrapper {
  width: auto;
  height: auto;
}

.react-player {
  padding-top: 56.25%;
  position: relative;
}

.react-player > div {
  position: absolute;
}

video {
  margin: 2rem 0;
  border-radius: 0.5rem;
}
