.player-wrapper {
  width: auto;
  height: auto;
  aspect-ratio: 16/10;
  border: 2px solid greenyellow;
}

.react-player {
  padding-top: 56.25%;
  position: relative;

}

.react-player > div {
  position: absolute;
}

