@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@200&family=Plus+Jakarta+Sans:wght@400;600;700&display=swap');

:root {
  --notion-max-witdth: 1200px;
}
* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}
.notion {
  font-size: 19px;
}

.notion-header {
  display: none;
}

.box {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: red;
}

.test {
  /* background-color: red;
  min-height: 100%;
  border: 10px solid green; */
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 8px;
  background: #222;
  transform-origin: 0%;
  z-index: 2;
  transform: scaleX(0) translateZ(0);
}

.notion-page-icon-hero {
  display: none;
}

.motion {
  /* border: 2px solid red; */
  width: inherit;
}

.motion-wrapper {
  overflow: hidden;
}

.notion-asset-wrapper-image {
  border-radius: 8px;
  overflow: hidden;
}

.notion-text {
  font-size: 19px;
  color: #666;
  line-height: 160%;
  font-family: 'Plus Jakarta Sans';
}
.notion-title {
  font-size: 70px;
  color: #222;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 800;
}

.notion-h1 {
  font-family: 'Newsreader';
  font-size: 60px;
  font-weight: 200;
}

.notion-h2 {
  font-weight: 700;
}
.notion-list {
  background-color: #f5f5f5;
  display: block;
  min-width: 100%;
  border-radius: 8px;
  margin: 2px 0;
  padding-top: 16px;
  padding-right: 16px;
  padding-bottom: 64px;
}

.notion-list li {
  padding: 0 50px 0 24px;
}

.notion-hr {
  border-color: rgb(216, 216, 216);
}

.notion-page-scroller {
  padding: 80px 0 0 0;
}
